* {
  background-color: whitesmoke;
  max-width: 2000px;
}
#welcome-image {
  display: flex;
  background-position: center;
  /* height: 100%; */
  margin-top: 100px;
  text-align: center;
}

main {
  display: flex;
  width: 100%;
  padding-left: 100px;
  background-color: white;
  /* padding-bottom: 100px; */
}

main p {
  font-size: larger;
  display: flex;
  margin-left: 100px;
  align-items: center;
  background-color: white;
}

#headshot {
  display: flex;
  max-height: 300px;
}

.portfolio {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* margin-top: 100px; */
  color: brown;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

header h1 {
  background-color: #13293d;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  background-color: #13293d;
}

nav a {
  color: #b9c6ae;
  background-color: #13293d;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

#main-project {
    padding: 10px;
}

#past-projects {
  flex: 1;
  background-color: var(--white);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  margin: 20px;
}

.card > header {
  /* This is the same as `border-radius: 50px 50px 0 0 */
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

.subheading {
    width: 100%;
}

.products {
  flex: 1;
  background-color: var(--light);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#contact-info {
  color: green;

}

#contact-info img {
  max-width: 500px;
  padding: 100px;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px var(--gray);
  margin: 20px;
}

.Box-Title {
  color: white;
  text-align: center;
  width: 100%;
}

.code-snippet {
  display: flex;
  background-color: deepskyblue;
  color: white;
  padding: 15px;
  flex-direction: column;
  align-items: left;
  justify-items: center;
}

.contact {
    padding: 5px;
}

.code-snippet p {
    padding: 10px;
    color: black;
}

/* Why won't text display center */
.card-title {
    display: flex;
    text-align: center;
    align-items: center;
}

section.card:hover p {
    display: block;
}

section.card p{
    display: none;
}
